<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Persist Security Info=True;Initial Catalog=cbusamain_dev;Data Source=tcp:cbusatest.database.windows.net,1433;User ID=ncptest;Password=p@ssw0rd;MultipleActiveResultSets=True;Connection Timeout=120;" />
    <!--add for mail-->
    <add key="EmailAPI" value="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" />
    <add key="SendEmailApiUrl" value="http://medullus.ddns.net:3080/medullussendmailservice/api" />
    <add key="SendEmailMethod" value="MedullusSystemsSendMailAPI" />
    <add key="SendEmailClientId" value="1" />
    <add key="SendEmailPassword" value="ViP@739_" />
    <add key="SendEmailUserName" value="cbusa@emailsender" />
    <!--<add key="ApiKey" value="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"/>-->
    <add key="ApiKey" value="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" />
    <add key="ErrorMapFile" value="/ErrorMap.config" />
    <add key="GlobalRefererName" value="https://app.custombuilders-usa.com" />
    <add key="GlobalSecureName" value="" />
    <add key="GlobalWebsiteName" value="CBUSA" />
    <add key="WindowsAuthLogin" value="ameagle" />
    <add key="WindowsAuthPassword" value="design" />
    <add key="NCPDocuments" value="C:\CBUSA_PROD\assets\NCPDocuments\" />
    <add key="SearchIndexDirectory" value="C:\CBUSA_PROD\search" />
    <add key="SearchIndexname" value="cbusa_app" />
    <add key="ErrorFolderName" value="C:\CBUSA_PROD\assets\productimport\" />
    <add key="FastTax.FastTax" value="http://ws.serviceobjects.com/ft/FastTax.asmx" />
    <add key="TakeOFFServiceDocument" value="C:\CBUSA_PROD\assets\takeoff\" />
    <add key="BuilderDocumentPlansOnline" value="C:\CBUSA_PROD\assets\plansonline\builderdocument\" />
    <add key="VendorDocumentPlansOnline" value="C:\CBUSA_PROD\assets\plansonline\vendordocument\" />
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
    <add key="TwopriceDocument" value="C:\CBUSA_PROD\assets\Twoprice\" />

    <!--Fetch Hosting App For CP Module-->
    <!--Local-->
    <add key="CPAppHosting" value="http://localhost:59780/" />
    <add key="CPModule" value="http://localhost:55767/" />
    <!--Dev-->
    <!--<add key="CPAppHosting" value="https://dev.custombuilders-usa.com/"/>  
    <add key="CPModule" value="https://dev.custombuilders-usa.com/cpmodule/"/>-->
    <!--Prod-->
    <!--<add key="CPAppHosting" value="https://app.custombuilders-usa.com/"/>  
    <add key="CPModule" value="https://app.custombuilders-usa.com/cpmodule/"/>-->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>