<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/></sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<sectionGroup name="system.web">
			<section name="RegExUrlMapping" type="RegExUrlMapping.RegExUrlMappingConfigHandler"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="URLMappingProvider" type="Components.URLMappingConfiguration, Common" allowDefinition="MachineToApplication"/>
	</configSections>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="5000000"></jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="F:\inetpub\wwwroot\cbusa-staging\log\currentlog"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="yyyyMMdd"/>
			<bufferSize value="50"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="---------------------%newline[%logger] {%date}%newline---------------------%newline%message%newline%newline"/>
			</layout>
		</appender>
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date%newline%logger%newline%message"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR"/>
				<levelMax value="FATAL"/>
			</filter>
		</appender>
		<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="conversionPattern" value="%message"/>
			</layout>
		</appender>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
			<to value="steve.schlereth@americaneagle.com"/>
			<from value="steve.schlereth@americaneagle.com"/>
			<subject value="Store Startup Bug!"/>
			<smtpHost value="smtprelay-01.americaneagle.com"/>
			<bufferSize value="50"/>
			<lossy value="true"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="---------------------%newline[%logger] {%date}%newline---------------------%newline%message%newline%newline"/>
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<commandText value="INSERT INTO Log4Net ([DateTime],[Thread],[ErrorLevel],[Logger],[Host],[ServerName],[UserAgent],[RemoteAddr],[Url],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @Host,@ServerName,@UserAgent,@RemoteAddr,@Url, @message)"/>
			<bufferSize value="10"/>
			<lossy value="true"/>
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="WARN"/>
			</evaluator>
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@thread"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@host"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{host}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@ServerName"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{server_name}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@UserAgent"/>
				<dbType value="String"/>
				<size value="255"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{user_agent}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@RemoteAddr"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{remote_addr}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@Url"/>
				<dbType value="String"/>
				<size value="1000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{url}"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
		</appender>
		<root>
			<!--<appender-ref ref="AspNetTraceAppender"/>  -->
			<appender-ref ref="SmtpAppender"/>
			<appender-ref ref="AdoNetAppender"/>
			<!--<appender-ref ref="RollingLogFileAppender" /> -->
			<!--<appender-ref ref="EventLogAppender" /> -->
		</root>
	</log4net>
	<URLMappingProvider defaultProvider="RegExURLMappingProvider">
		<providers>
			<add name="RegExURLMappingProvider" type="Components.RegExURLMappingProvider, Common"/>
		</providers>
	</URLMappingProvider>
	<appSettings>
		<!-- <add key="log4net.Internal.Debug" value="true"/> -->
		<add key="GlobalWebsiteKey" value="cbusa2"/>
		<add key="GlobalWebsitePassword" value="ae9322i#!"/>
		<add key="GlobalWebsitePasswordEx" value="22i#!ae93"/>
		<add key="ConnectionString" value="Persist Security Info=True;Initial Catalog=cbusa_app;Data Source=CL-CBUSA-2SQ001;User ID={0};Password={1};"/>
		<add key="ConnectionStringUsername" value="tkR6zr1AUrHhsCB8GrQVoh8FAsgP6z7aaIM0xHcfEVWI1HiAFyjAsA=="/>
		<add key="ConnectionStringPassword" value="IcnNA/c38xYvDlQ3KLqMiZ5ftQKv1BgSSUp/i+YfPJ8="/>
		<add key="AccountingConnectionString" value="Persist Security Info=True;Initial Catalog=cbusa_app;Data Source=CL-CBUSA-2SQ001;User ID={0};Password={1};"/>
		<add key="AccountingConnectionStringUsername" value="tkR6zr1AUrHhsCB8GrQVoh8FAsgP6z7aaIM0xHcfEVWI1HiAFyjAsA=="/>
		<add key="AccountingConnectionStringPassword" value="IcnNA/c38xYvDlQ3KLqMiZ5ftQKv1BgSSUp/i+YfPJ8="/>
		<add key="SiteInMaintenanceMode" value="False"/>
		<add key="LDAPQuery" value="LDAP://IDEV/DC=IDEV,DC=LOCAL"/>
		<add key="DomainGroupNames" value="customerservice,cbusa_app"/>
		<add key="LyrisConnectionString" value="Persist Security Info=True;Initial Catalog=lyrislistserver;Data Source=CL-LYRIS-2SQ001;User ID=lyris-iis-761;Password=5WgK!5p6;"/>
		<add key="LyrisQueueConnectionString" value="Persist Security Info=True;Initial Catalog=lyris;Data Source=CL-LYRIS-2SQ001;User ID=lyris-iis-761;Password=5WgK!5p6;"/>
		<add key="LoggerConnectionString" value="Persist Security Info=True;Initial Catalog=intranet_script_logs;Data Source=CL-LYRIS-2SQ001;User ID={0};Password={1};"/>
		<add key="LoggerConnectionStringUsername" value="YWaBT6qvU+PP02OFlKCo9A5CoriMSC1+RCJfYQyIWwoq+BIQsan0odnQR6N/zQ9qBfR/mdCC6Tw="/>
		<add key="LoggerConnectionStringPassword" value="VFseo9Bh0n/PSWy5UJxVtvfgTmnzKCL+vvySXX16l20="/>
		<add key="GlobalGoogleTrackingNo" value="UA-6995198-1"/>
		<add key="LyrisListName" value="cbusa_app"/>
		<add key="LyrisDatabaseLocation" value="[CL-CBUSA-2SQ001].[cbusa_app]"/>
		<add key="LyrisBrowserLinkHTML" value="To view this message in a browser, please &lt;a href=&quot;{LINK}&quot;&gt;click here&lt;/a&gt;"/>
		<add key="LyrisBrowserLinkText" value="To view this message in a browser, please click here: {LINK}"/>
		<add key="LyrisTableOwner" value="dbo"/>
		<!-- UPS Settings (optional) -->
		<add key="UPSLicenseNo" value="3B5BDC0A0DCF1324"/>
		<add key="UPSUsername" value="aeaglecom"/>
		<add key="UPSPassword" value="whiskey"/>
		<!-- UPS Settings (optional) -->
		<add key="FedExAccountNo" value="112335722"/>
		<add key="FedExMeterNo" value="1400552"/>
		<!-- MailServerTimeout value is in millisecods -->
		<add key="MailServer" value="smtprelay-01.americaneagle.com"/>
		<add key="MailServerBackup" value="smtprelay-02.americaneagle.com"/>
		<add key="MailServerTimeout" value="10000"/>
		<add key="ErrorMapFile" value="/ErrorMap.config"/>
		<add key="GlobalRefererName" value="http://app.custombuilders-usa.com"/>
		<add key="GlobalSecureName" value="https://app.custombuilders-usa.com"/>
		<add key="GlobalWebsiteName" value="CBUSA"/>
		<!-- IdevSearch -->
		<add key="SearchIndexDirectory" value="\\cl-2wa001\search"/>
		<!--<add key="SearchIndexDirectory" value="\\cl-2wa001\search\" />-->
		<add key="SearchIndexname" value="cbusa_app"/>
	<add key="FastTax.FastTax" value="http://ws.serviceobjects.com/ft/FastTax.asmx"/>
	</appSettings>
	<system.web>
		<httpHandlers>
			<add path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" validate="True"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="CC" namespace="Controls" assembly="Common"/>
				<add tagPrefix="CC" namespace="PopupForm" assembly="Common"/>
				<add tagPrefix="CT" namespace="MasterPages" assembly="Common"/>
				<add tagPrefix="nStuff" namespace="nStuff.UpdateControls" assembly="nStuff.UpdateControls, Version=1.2.0.0, Culture=neutral, PublicKeyToken=954a7d0922d0cc55"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls>
			<namespaces>
				<add namespace="Microsoft.VisualBasic"/>
				<add namespace="System.Data"/>
				<add namespace="System.Drawing"/></namespaces></pages>
		<httpModules>
			<add type="RegExUrlMapping.RegExUrlMappingModule" name="RegExUrlMappingModule"/>
			<add type="Components.CustomErrorHandlerModule" name="CustomErrorHandlerModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<RegExUrlMapping enabled="false">
			<add url="~/(.*)default\.aspx" mappedUrl="~/$1default.aspx"/>
			<add url="~/banner/(.*)/(.*)\.aspx" mappedUrl="~/banner.aspx?BannerId=$1"/>
		</RegExUrlMapping>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
      -->
		<compilation debug="true" strict="False" explicit="True">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="AESecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6C4B14397B828D51"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
			<buildProviders> 
				<add extension=".asp" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="ASPXADMIN" loginUrl="/Admin/login.aspx" timeout="60"/>
		</authentication>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="404.aspx"/>
			<error statusCode="500" redirect="500.aspx"/>
		</customErrors>
		<trace enabled="False" requestLimit="500" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState timeout="60"></sessionState>
	</system.web>
	<system.diagnostics>
		<trace autoflush="true"> 
			<listeners>
				<add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<!-- 
				<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\log.txt" />
				-->
			</listeners>
		</trace>
		<!--
		<sources>
			<source name="System.Net">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.HttpListener">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\netlog.txt" traceOutputOptions="DateTime"/>
		</sharedListeners>
		<switches>
			<add name="System.Net" value="Verbose"/>
			<add name="System.Net.Sockets" value="Verbose"/>
			<add name="System.Net.Cache" value="Verbose"/>
			<add name="System.Net.HttpListener" value="Verbose"/>
		</switches>
		-->
	</system.diagnostics>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/></compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls /define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="AccountBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="AccountBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BillingPlanBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="BillingPlanBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="AutoBillBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="AutoBillBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="ProductBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="ProductBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="5000000" maxBufferPoolSize="524288" maxReceivedMessageSize="5000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="TransactionBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
				<binding name="TransactionBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://soap.vindicia.com/v3.0/soap.pl" binding="basicHttpBinding" bindingConfiguration="AccountBinding" contract="Vindicia.Account.AccountPortType" name="AccountPort"/>
			<endpoint address="https://soap.vindicia.com/v3.0/soap.pl" binding="basicHttpBinding" bindingConfiguration="BillingPlanBinding" contract="Vindicia.BillingPlan.BillingPlanPortType" name="BillingPlanPort"/>
			<endpoint address="https://soap.vindicia.com/v3.0/soap.pl" binding="basicHttpBinding" bindingConfiguration="AutoBillBinding" contract="Vindicia.AutoBill.AutoBillPortType" name="AutoBillPort"/>
			<endpoint address="https://soap.vindicia.com/v3.0/soap.pl" binding="basicHttpBinding" bindingConfiguration="ProductBinding" contract="Vindicia.Product.ProductPortType" name="ProductPort"/>
			<endpoint address="https://soap.vindicia.com/v3.0/soap.pl" binding="basicHttpBinding" bindingConfiguration="TransactionBinding" contract="Vindicia.Transaction.TransactionPortType" name="TransactionPort"/>
		</client>
	</system.serviceModel>
</configuration>
