<?xml version="1.0"?>
<item>
  <error orig="Violation of UNIQUE KEY constraint 'Admin_Username_Unique'. Cannot insert duplicate key in object 'Admin'." 
         map="An admin user with the same Username already exists in the system. Please choose a different username and try again." />

  <error orig="DELETE statement conflicted with COLUMN REFERENCE constraint 'AdminGroup_AdminAdminGroup_FK1'." 
         map="Selected Group cannot be removed, because there is at least one admin user that belong to this group. Please disassocitate all admin users from this group and try again." />

  <error orig="Violation of UNIQUE KEY constraint 'IX_ContentToolSection'"
         map="A section for the same folder already exits in the database. Please change the folder and try again." />

  <error orig="Violation of UNIQUE KEY constraint 'IX_StorePromotionItem'."
         map="An item/department has been already added to this promotion. Please change the folder and try again." />

  <error orig="DELETE statement conflicted with COLUMN REFERENCE constraint 'FK_ContentToolPage_ContentToolNavigation'"
     map="A navigation element you were trying to remove is used on one or more pages. Please change the reference on page(s) and try again." />

  <error orig="DELETE statement conflicted with COLUMN REFERENCE constraint 'FK_ContentToolPage_ContentToolNavigation1'"
       map="A navigation element you were trying to remove is used on one or more pages. Please change the reference on page(s) and try again." />

  <error orig="Violation of PRIMARY KEY constraint 'PK_StoreRelatedItem'. Cannot insert duplicate key in object 'dbo.StoreRelatedItem'"
         map="That item already exists in the related items." />

  <error orig="DELETE statement conflicted with COLUMN REFERENCE constraint 'FK_StoreItem_StoreBrand'"
         map="Brand is associated with one more items and cannot be deleted at this time." />

  <error orig="DELETE statement conflicted with COLUMN REFERENCE constraint 'FK_StoreOrder_Member'."
         map="Member submitted at least one order and cannot be deleted at this time." />

 <error orig="Cannot insert duplicate key row in object 'dbo.Member' with unique index 'IX_Member'."
	   map="An member with the same username already exists. Please choose a different username and try again" />

 <error orig="Cannot insert duplicate key row in object 'dbo.StorePromotion' with unique index 'IX_StorePromotion'"
        map="A promotion with the same code already exists. Please choose a different promotion code and try again" />
</item>